# Python
__pycache__/
*.py[cod]
*.egg-info/
.Python

# Entornos virtuales
venv/
.venv/
env/

# Django
*.log
db.sqlite3
db.sqlite3-journal
staticfiles/

# Variables de entorno locales (NO versionar secretos)
.env

# Editores / IDE
.vscode/
.idea/
*.swp
.DS_Store
